<<<<<<< current
/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.padding {
  padding-top: 3rem;
}

.center {
  margin-left: 15%;
}
<<<<<<< HEAD

.righted {
  margin-right: 25%;
}
=======
>>>>>>> 33d6e2dbff05542903eb8e62c33b6bd62f219719

/* FONTS */

/* MAIN FONT (Futura) */
.normalFont {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.italicFont {
  font-family: futura-pt, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.boldFont {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.boldItalicFont {
  font-family: futura-pt, sans-serif;
  font-style: italic;
  font-weight: 700;
}

/* SECONDARY FONT (Bodoni) */
.altNormal {
  font-family: bodoni-urw, serif;
  font-style: normal;
  font-weight: 400;
}


.altItalic {
  font-family: bodoni-urw, serif;
  font-style: italic;
  font-weight: 400;
}

.altBold {
  font-family: bodoni-urw, serif;
  font-style: normal;
  font-weight: 700;
}

.altBoldItalic {
  font-family: bodoni-urw, serif;
  font-style: italic;
  font-weight: 700;
}

.smallCaps {
  font-variant: small-caps;
}

.caps {
  font-variant: uppercase;
}
/* HEADER */

.logo {
	display: block;
	float: left;
	width: 245px;
}
.logo {
	max-width: inherit;

/* HOMEPAGE */

/*
 1.2) mission Info
 -----------------------------*/
.homepage-5 .mission-info {
	padding-bottom: 64px;
	position: relative;
	text-align: center;
	width: 100%;
}
.homepage-5 .mission-info .title {
	padding: 90px 20px 40px;
	overflow: hidden;
}
.homepage-5 .mission-info .title p {
	padding-top: 40px;
	font-size: 20px;
	line-height: 1.5;
}
.homepage-5 .mission-info .inner {
	padding:0 0 30px;
	border-top: 5px solid transparent;
}
.homepage-5 .mission-info figure {
	padding-top: 3px;
}
.homepage-5 .mission-info h3 {
	padding: 33px 0 20px;
	letter-spacing: 0.04em;
}

/* LOGIN */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Scrollspy */
/* Needs to be class not element  */

body {
  position: relative;
}


.elementaryimages {
  /* height: 15em; */
  width: 50%;
}
.highschoolimages {
  /* height: 15em; */
  width: 50%;
}

.adminsimages {
  /* height: 15em; */
  width: 50%;
}

 /* FOOTER */


.footer{
margin-top:50px;
background-color: rgb(37, 34, 34);
padding-top:60px;
padding-bottom:60px;
}

.footer .input-search{
height:45px;
width:40%;
padding-left:20px;
}

.btn-search{
  background: tan;
  border:none;
  color:#FFF;
  height: 45px;
  width: 80px;
  /* font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400; */
}

.footer p{
  color: #FFF;
  font-weight: 800;
  /* border-bottom: 1px solid #c7c7c7;  */
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;

}

/* .social-icons{
  font-size: 10em;
} */


.connect p2{
  color: #FFF;
  font-weight: 800;
  /* border-bottom: 1px solid #c7c7c7;  */
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;

}

.connect span {
 color: #FFF;
 font-weight: 800;
 /* border-bottom: 1px solid #c7c7c7;  */
 padding-bottom: 10px;
 margin-bottom: 20px;
 display: block;
 text-transform: uppercase;
 font-size: 16px;
 letter-spacing: 3px;
}

.connect li a {
  color:#FFF;
  letter-spacing: 3px;
  text-decoration:none;
  font-size:12px;
}

.schoolcontact li, .social li{
  margin-top: 5px;
  list-style: none;
}

.schoolcontact li a:hover{
  color: #2525F8;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.fa{
  color: tan;
  margin-right: 10px;
  font-size:14px;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-rss:hover {
    background: #e88845;
}

/*=====================
==ACADEMICS Philosophy===
======================*/

#phil {
	padding-bottom:75px;
	padding-top:75px
}

.phil-heading {
	margin-bottom: 35px;
	margin-top: 15px;
}

.single-phil {
	margin-bottom: 30px;
	background-color:#F7F7F7;
	padding:25px;
	transition: all 1s ease 0s;
	box-shadow: 0 2px 0 0 #ddd;
}

.single-phil:hover {
	background-color:#43484E;
	color:#fff
}

.single-phil:hover.single-phil h2 {
	color:#fff
}

.single-phil:hover.single-phil .btn-primary {
	background-color:#14BBA9;
	color:#fff;
	border-color:#fff;
	transition: all 0.9s ease 0s;
}

.single-phil img{
	width:100%;
	margin-bottom:20px
}

.single-phil h2 {
	color:#43484E;
	font-size:24px;
}

.single-phil h2{
	margin:0;
	margin-bottom:15px;
}

.single-phil ul {
	padding:0;
	overflow:hidden;
}

.single-phil ul li {
	border-right: 2px solid #999999;
	float: left;
	line-height: 10px;
	list-style: none;
	margin-right: 10px;
	padding-right: 10px;
	font-size: 12px;
	color:#999;
}

.single-phil ul li:last-child {
	border:none;
}

.phil-content {
	margin-bottom: 25px;
	margin-top: 0;
}

.single-phil .btn-primary {
	text-transform: uppercase;
	border: 1px solid #14BBA9;
	color: #686868;
	background-color: rgba(255, 255, 255, 0);
	border-color: #14BBA9;
}

.single-phil:hover.single-phil .btn-primary:hover{
	background-color:#14BBA9;
	color:#fff;
}

#phil-detail .modal-body {
	padding:30px;
}

#phil-detail .modal-body img {
	width:100%
}

#phil-detail .close {
	margin-right: -15px;
    margin-top: -25px;
}
=======
/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.padding {
  padding-top: 3rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 8em

/* FONTS */

/* MAIN FONT (Futura) */
.normalFont {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.italicFont {
  font-family: futura-pt, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.boldFont {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.boldItalicFont {
  font-family: futura-pt, sans-serif;
  font-style: italic;
  font-weight: 700;
}

/* SECONDARY FONT (Bodoni) */
.altNormal {
  font-family: bodoni-urw, serif;
  font-style: normal;
  font-weight: 400;
}


.altItalic {
  font-family: bodoni-urw, serif;
  font-style: italic;
  font-weight: 400;
}

.altBold {
  font-family: bodoni-urw, serif;
  font-style: normal;
  font-weight: 700;
}

.altBoldItalic {
  font-family: bodoni-urw, serif;
  font-style: italic;
  font-weight: 700;
}

.smallCaps {
  font-variant: small-caps;
}

/* HEADER */

.logo {
	display: block;
	float: left;
	width: 245px;
}
.logo {
	max-width: inherit;

/* HOMEPAGE */

/*
 1.2) mission Info
 -----------------------------*/
.homepage-5 .mission-info {
	padding-bottom: 64px;
	position: relative;
	text-align: center;
	width: 100%;
}
.homepage-5 .mission-info .title {
	padding: 90px 20px 40px;
	overflow: hidden;
}
.homepage-5 .mission-info .title p {
	padding-top: 40px;
	font-size: 20px;
	line-height: 1.5;
}
.homepage-5 .mission-info .inner {
	padding:0 0 30px;
	border-top: 5px solid transparent;
}
.homepage-5 .mission-info figure {
	padding-top: 3px;
}
.homepage-5 .mission-info h3 {
	padding: 33px 0 20px;
	letter-spacing: 0.04em;
}

/* LOGIN */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Scrollspy */
/* Needs to be class not element  */

body {
  position: relative;
}


.elementaryimages {
  /* height: 15em; */
  width: 50%;
}
.highschoolimages {
  /* height: 15em; */
  width: 50%;
}

.adminsimages {
  /* height: 15em; */
  width: 50%;
}

 /* FOOTER */


.footer{
margin-top:50px;
background-color: rgb(37, 34, 34);
padding-top:60px;
padding-bottom:60px;
}

.footer .input-search{
height:45px;
width:40%;
padding-left:20px;
}

.btn-search{
  background: tan;
  border:none;
  color:#FFF;
  height: 45px;
  width: 80px;
  /* font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400; */
}

.footer p{
  color: #FFF;
  font-weight: 800;
  /* border-bottom: 1px solid #c7c7c7;  */
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;

}

.connect p2{
  color: #FFF;
  font-weight: 800;
  /* border-bottom: 1px solid #c7c7c7;  */
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;

}

.connect span {
 color: #FFF;
 font-weight: 800;
 /* border-bottom: 1px solid #c7c7c7;  */
 padding-bottom: 10px;
 margin-bottom: 20px;
 display: block;
 text-transform: uppercase;
 font-size: 16px;
 letter-spacing: 3px;
}

.connect li a {
  color:#FFF;
  letter-spacing: 3px;
  text-decoration:none;
  font-size:12px;
}

.schoolcontact li, .social li{
  margin-top: 5px;
  list-style: none;
}

.schoolcontact li a:hover{
  color: #2525F8;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.fa{
  color: tan;
  margin-right: 10px;
  font-size:14px;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-rss:hover {
    background: #e88845;
}

/*=====================
==ACADEMICS Philosophy===
======================*/

#phil {
	padding-bottom:75px;
	padding-top:75px
}

.phil-heading {
	margin-bottom: 35px;
	margin-top: 15px;
}

.single-phil {
	margin-bottom: 30px;
	background-color:#F7F7F7;
	padding:25px;
	transition: all 1s ease 0s;
	box-shadow: 0 2px 0 0 #ddd;
}

.single-phil:hover {
	background-color:#43484E;
	color:#fff
}

.single-phil:hover.single-phil h2 {
	color:#fff
}

.single-phil:hover.single-phil .btn-primary {
	background-color:#14BBA9;
	color:#fff;
	border-color:#fff;
	transition: all 0.9s ease 0s;
}

.single-phil img{
	width:100%;
	margin-bottom:20px
}

.single-phil h2 {
	color:#43484E;
	font-size:24px;
}

.single-phil h2{
	margin:0;
	margin-bottom:15px;
}

.single-phil ul {
	padding:0;
	overflow:hidden;
}

.single-phil ul li {
	border-right: 2px solid #999999;
	float: left;
	line-height: 10px;
	list-style: none;
	margin-right: 10px;
	padding-right: 10px;
	font-size: 12px;
	color:#999;
}

.single-phil ul li:last-child {
	border:none;
}

.phil-content {
	margin-bottom: 25px;
	margin-top: 0;
}

.single-phil .btn-primary {
	text-transform: uppercase;
	border: 1px solid #14BBA9;
	color: #686868;
	background-color: rgba(255, 255, 255, 0);
	border-color: #14BBA9;
}

.single-phil:hover.single-phil .btn-primary:hover{
	background-color:#14BBA9;
	color:#fff;
}

#phil-detail .modal-body {
	padding:30px;
}

#phil-detail .modal-body img {
	width:100%
}

#phil-detail .close {
	margin-right: -15px;
    margin-top: -25px;
}
>>>>>>> before discard
