<main-navigation></main-navigation>

    <div id="section1" class="container-fluid">
      <center><h1>Intro</h1></center>
      <center><p>At Restoration Academy, we believe that every child in the Birmingham area deserves an excellent, Christ-centered education. Our mission is to provide this opportunity through advancing the two greatest commandments in the life of every student: to love God with all of our heart, soul, mind, and strength, and to love others as ourselves.
        We work individually with students from remedial to accelerated and offer free in-school and after-school tutoring, teach foreign language, and provide opportunities for art. We also require the study of US and world history, all sciences, language, literature, government, finance, physical education, the arts, Bible, and apologetics.
        Restoration Academy is accredited with AdvancED, the Southern Association of Colleges and Schools (SACS), the Alabama Independent School Association (AISA) and the Association of Christian Schools International (ACSI).
        </p></center>
    </div>
    <div id="section2" class="container-fluid">
      <center><h1>Mission Statement</h1></center>
        <p style="text-indent: 40px">At Restoration Academy, we believe that every child in the Birmingham area deserves an excellent, Christ-centered education. Our mission is to provide this opportunity through: <b><i>Advancing the two greatest commandments in the life of each student.</i></b>  We are called to love God with all of our heart, soul, mind, and strength, and to love others as ourselves.</p>
      <p><div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><center><b>We want our students to learn to love God with their minds.</b></center></a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body row">
                        <p>We work individually with students from remedial to accelerated and offer free in-school and after-school tutoring, teach foreign language, and provide opportunities for art - including our award-winning choir.    We also require the study of US and world history, all sciences, language, literature, government, finance, physical education, the arts, Bible, and apologetics.</p>
                    </div>     
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><center><b>We want our students to learn to love God with their strength.</b></center></a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body row">
                        <p>We work individually with students from remedial to accelerated and offer free in-school and after-school tutoring, teach foreign language, and provide opportunities for art - including our award-winning choir.    We also require the study of US and world history, all sciences, language, literature, government, finance, physical education, the arts, Bible, and apologetics.</p>
                    </div>     
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><center><b>We want our students to learn to love God with their hearts.</b></center></a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body row">
                        <p>We work individually with students from remedial to accelerated and offer free in-school and after-school tutoring, teach foreign language, and provide opportunities for art - including our award-winning choir.    We also require the study of US and world history, all sciences, language, literature, government, finance, physical education, the arts, Bible, and apologetics.</p>
                    </div>     
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><center><b>We want our students to learn to love their neighbor.</b></center></a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body row">
                        <p>We work individually with students from remedial to accelerated and offer free in-school and after-school tutoring, teach foreign language, and provide opportunities for art - including our award-winning choir.    We also require the study of US and world history, all sciences, language, literature, government, finance, physical education, the arts, Bible, and apologetics.</p>
                    </div>     
                </div>
            </div>
        </div>
    </p>
<center><p>Restoration Academy is accredited with AdvancED, the Southern Association of Colleges and Schools (SACS), the Alabama Independent School Association (AISA) and the Association of Christian Schools International (ACSI).
     </p></center>
    </div>
    <div id="section3" class="container-fluid">
      <center><h1>Core Values</h1></center>
      <center><ul>
        <li>We believe that children are created in the image of God. Therefore, each child will be treated with dignity and respect.</li>
        <li>We believe that education should impact the heart as well as the head.</li>
        <li>We believe that true education begins and ends with the Lord Jesus Christ.</li>
        <li>We believe that Christ-centered education cannot take place with out born-again teachers.</li>
        <li>We believe that providing a quality education to low-income families matters to God, and therefore, matters to us.</li>
        <li>We believe that academic excellence honors and glorifies God.</li>
        <li>We believe that Christ-centered schools should be a place where children are loved and nurtured.</li>
        <li>We believe God desires to hear and answer the prayers of His people.</li>
        <li>We believe that God’s grace should characterize the culture of our school.</li>
        <li>We believe that discipleship is the true essence of teaching.</li>
      </ul></center>
    </div>
    <div id="section4" class="container-fluid">
      <center><h1>Our Story</h1></center>
      <p style="text-indent: 40px">Restoration Academy was started in 1988 by Dr. Anthony Gordon. He founded the school in response to divisive forces such as crime and violence that had ensnared many of the young people at his church and in his community. He followed God's calling to provide a quality, private education to predominantly lower-income families. He believed that such an education should be available to more than affluent families.</p>
      
      <p style="text-indent: 40px">To this day, the school has stayed committed to Dr. Gordon's vision by making a quality and Christ-centered education available to children in grades K5 - 12. In 1999 the school relocated to the Fairfield community and is now a vital and integral part of the Western area of town.
      Restoration Academy is committed to do its best to meet individual students at their point of need, provide dynamic instruction and curriculum, competitive sports, and outlets for kids to grow into all the potential God desires. Our most celebrated outcome is seeing students overcome the potentially destructive lifestyles of fatherlessness, functional illiteracy, addiction, abuse, and incarceration. Our prayer is that upon graduation of Restoration, each student has a personal relationship with Jesus Christ and is committed to following Him.</p>
      
      <p style="text-indent: 40px">We have an active volunteer program, with over 70 weekly tutors in addition to over 100 classroom sponsors, "room moms", and other various volunteers. On the Stanford Achievement Test our students in grades 7 to 12, on average, are advancing two years in one year's time in reading comprehension and math. We are proud that for the past seven years, all of our graduates have been accepted into college, many with full scholarships.
      Most importantly, we are breaking generational cycles of poverty, violence, addiction and fatherlessness in Fairfield and the greater Birmingham area.
      </p>
    </div>
    <div id="section5" class="container-fluid">
      <center><h1>Who We Are</h1></center>
      <p><div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Administration</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body row">
                    <div class="col-md-4 col-12" ng-repeat="admin in admins">
                      <img class="adminsimages" ng-src="{{ admin.imageurl }}" alt="">
                      <h4>{{ admin.name }}</h4>                                    
                      <h6>{{ admin.title }}</h6>
                      <hr>
                    </div>     
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Teachers</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body" row>
                    <div>
                        <h3>Elementary Teachers</h3>
                        <div class="col-md-4 col-12" ng-repeat="elementaryteacher in elementaryteachers">
                        <img class="elementaryimages" ng-src="{{ elementaryteacher.imageurl }}" alt="">
                        <h4>{{ elementaryteacher.name }}</h4>
                        <h6>{{ elementaryteacher.course }}</h6>
                        <hr>
                      </div>
                      <hr>
                      <h3>High School Teachers</h3>
                      <div class="col-md-4 col-12" ng-repeat="highschoolteacher in highschoolteachers">
                        <img class="highschoolimages" ng-src="{{ highschoolteacher.imageurl }}" alt="">
                        <h4>{{ highschoolteacher.name }}</h4>
                        <h6>{{ highschoolteacher.course }}</h6>
                      </div>

                      </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Board of Directors</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        <div ng-repeat="boardMember in boardMembers">
                        <h4>{{ boardMember.name }}</h4>
                        <h6>{{ boardMember.title }}</h6>
                      </div>
                </div>
            </div>
        </div>
    </div>
        </div></p>
    </div>
    <center><div id="section6" class="container-fluid">
        <h1>Contact Us</h1>
        <p><h6><b>Physical Address</b></h6>4600 Canregie Avenue (Elementary School Building)<br>4801 Gary Avenue (High School Building)
            <br>
            <br>
            <h6><b>Mailing Address</b></h6>PO Box 30<br>Fairfield, Alabama 35064
            <br>
            <br>
            <h6><b>Phone</b></h6>(205)785-8805
            <br>
            <br>
            <h6><b>Email (For more information):</b></h6><a href="mailto:pwilson@restorationacademy.org?Subject=Hello" target="_top">pwilson@restorationacademy.org</a>
            <br>
            <br>
            <h6><b><a href="https://visitor.r20.constantcontact.com/manage/optin?v=001o9BVU3HO12xWqm9DlYfHAQH-J-WlQhmy">Sign up here to receive our weekly newsletter!</a></b></h6>
            </p>
      </div></center>
</body>

<footer-navigation></footer-navigation>