<main-navigation></main-navigation>
<body data-spy="scroll" data-target="#navbar-example">
    <div class="row padding">
            <div class="col-4">
                    <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action" href="#list-item-1">Intro</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-2">Mission Statement</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-3">Core Values</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-4">Our Story</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-5">Who We Are</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-5">Contact Us</a>
                          </div>
            </div>
            
              <div class="col-8">
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                    <h4 id="list-item-1">Intro</h4>
                    <p style="text-indent: 40px">At Restoration Academy, we believe that every child in the Birmingham area deserves an excellent, Christ-centered education. Our mission is to provide this opportunity through advancing the two greatest commandments in the life of every student: to love God with all of our heart, soul, mind, and strength, and to love others as ourselves.
                        We work individually with students from remedial to accelerated and offer free in-school and after-school tutoring, teach foreign language, and provide opportunities for art. We also require the study of US and world history, all sciences, language, literature, government, finance, physical education, the arts, Bible, and apologetics.
                        Restoration Academy is accredited with AdvancED, the Southern Association of Colleges and Schools (SACS), the Alabama Independent School Association (AISA) and the Association of Christian Schools International (ACSI).
                        </p>
                    <h4 id="list-item-2">Mission Statement</h4>
                    <p style="text-indent: 40px">At Restoration Academy, we believe that every child in the Birmingham area deserves an excellent, Christ-centered education. Our mission is to provide this opportunity through: <b><i>Advancing the two greatest commandments in the life of each student.</i></b>  We are called to love God with all of our heart, soul, mind, and strength, and to love others as ourselves.</p>
                            
                    <p style="text-indent: 40px"><u><b>We want our students to learn to love God with their minds:</b></u>  We work individually with students from remedial to accelerated and offer free in-school and after-school tutoring, teach foreign language, and provide opportunities for art - including our award-winning choir.    We also require the study of US and world history, all sciences, language, literature, government, finance, physical education, the arts, Bible, and apologetics.</p>
                           
                    <p style="text-indent: 40px"><u><b>We want our students to learn to love God with their strength:</b></u>  Our students are explored to a variety of ways to love God with their physical bodies and gifts.  We provide a wide array sports including basketball, baseball, girls volleyball, girls tennis, peewee soccer, and Brazilian jiu-jitsu.  We also have a high school boys outdoor club where students learn to explore the beauty of God’s creation.</p>
                           
                    <p style="text-indent: 40px"><u><b>We want our students to learn to love God with their hearts:</b></u>  Our students are regularly exposed to the love of God through Bible class, small groups, bi-weekly chapels, and ongoing discipleship.  We desire that each of our students will come to know Jesus as Lord and Savior and to grow in their relationship with Him.</p>
                           
                    <p style="text-indent: 40px"><u><b>We want our students to learn to love their neighbor:</b></u>  Our students are given opportunities to serve their community, their peers, and their school.  We also seek to provide annual mission trips during the summer for some of our high school students.  We desire our students to continue to see themselves as agents of peace, hope, and change in the world around them.</p>
                           
                    <p style="text-indent: 40px">Restoration Academy is accredited with AdvancED, the Southern Association of Colleges and Schools (SACS), the Alabama Independent School Association (AISA) and the Association of Christian Schools International (ACSI).
                           </p>
                    <h4 id="list-item-3">Core Values</h4>
                    <ul>
                            <li>We believe that children are created in the image of God. Therefore, each child will be treated with dignity and respect.</li>
                            <li>We believe that education should impact the heart as well as the head.</li>
                            <li>We believe that true education begins and ends with the Lord Jesus Christ.</li>
                            <li>We believe that Christ-centered education cannot take place with out born-again teachers.</li>
                            <li>We believe that providing a quality education to low-income families matters to God, and therefore, matters to us.</li>
                            <li>We believe that academic excellence honors and glorifies God.</li>
                            <li>We believe that Christ-centered schools should be a place where children are loved and nurtured.</li>
                            <li>We believe God desires to hear and answer the prayers of His people.</li>
                            <li>We believe that God’s grace should characterize the culture of our school.</li>
                            <li>We believe that discipleship is the true essence of teaching.</li>
                          </ul>
                    <h4 id="list-item-4">Our Story</h4>
                    <p style="text-indent: 40px">Restoration Academy was started in 1988 by Dr. Anthony Gordon. He founded the school in response to divisive forces such as crime and violence that had ensnared many of the young people at his church and in his community. He followed God's calling to provide a quality, private education to predominantly lower-income families. He believed that such an education should be available to more than affluent families.</p>
                        
                        <p style="text-indent: 40px">To this day, the school has stayed committed to Dr. Gordon's vision by making a quality and Christ-centered education available to children in grades K5 - 12. In 1999 the school relocated to the Fairfield community and is now a vital and integral part of the Western area of town.
                        Restoration Academy is committed to do its best to meet individual students at their point of need, provide dynamic instruction and curriculum, competitive sports, and outlets for kids to grow into all the potential God desires. Our most celebrated outcome is seeing students overcome the potentially destructive lifestyles of fatherlessness, functional illiteracy, addiction, abuse, and incarceration. Our prayer is that upon graduation of Restoration, each student has a personal relationship with Jesus Christ and is committed to following Him.</p>
                        
                        <p style="text-indent: 40px">We have an active volunteer program, with over 70 weekly tutors in addition to over 100 classroom sponsors, "room moms", and other various volunteers. On the Stanford Achievement Test our students in grades 7 to 12, on average, are advancing two years in one year's time in reading comprehension and math. We are proud that for the past seven years, all of our graduates have been accepted into college, many with full scholarships.
                        Most importantly, we are breaking generational cycles of poverty, violence, addiction and fatherlessness in Fairfield and the greater Birmingham area.
                        </p>
                    <h4 id="list-item-5">Who We Are</h4>
                      <p><div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Administration</a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body row">
                                  <div class="col-md-4 col-12" ng-repeat="admin in admins">
                                    <img class="adminsimages" ng-src="{{ admin.imageurl }}" alt="">
                                    <h4>{{ admin.name }}</h4>                                    
                                    <h6>{{ admin.title }}</h6>
                                    <hr>
                                  </div>     
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Teachers</a>
                              </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="panel-body" row>
                                  <div>
                                      <h3>Elementary Teachers</h3>
                                      <div class="col-md-4 col-12" ng-repeat="elementaryteacher in elementaryteachers">
                                      <img class="elementaryimages" ng-src="{{ elementaryteacher.imageurl }}" alt="">
                                      <h4>{{ elementaryteacher.name }}</h4>
                                      <h6>{{ elementaryteacher.course }}</h6>
                                      <hr>
                                    </div>
                                    <hr>
                                    <h3>High School Teachers</h3>
                                    <div class="col-md-4 col-12" ng-repeat="highschoolteacher in highschoolteachers">
                                      <img class="highschoolimages" ng-src="{{ highschoolteacher.imageurl }}" alt="">
                                      <h4>{{ highschoolteacher.name }}</h4>
                                      <h6>{{ highschoolteacher.course }}</h6>
                                    </div>
      
                                    </div>
                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Board of Directors</a>
                              </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div>
                                      <div ng-repeat="boardMember in boardMembers">
                                      <h4>{{ boardMember.name }}</h4>
                                      <h6>{{ boardMember.title }}</h6>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
                      </div></p>
                    <h4 id="list-item-6">Contact Us</h4>
                    <p><h6><b>Physical Address</b></h6>4600 Canregie Avenue (Elementary School Building)<br>4801 Gary Avenue (High School Building)
                    <br>
                    <br>
                    <h6><b>Mailing Address</b></h6>PO Box 30<br>Fairfield, Alabama 35064
                    <br>
                    <br>
                    <h6><b>Phone</b></h6>(205)785-8805
                    <br>
                    <br>
                    <h6><b>Email (For more information):</b></h6><a href="mailto:pwilson@restorationacademy.org?Subject=Hello" target="_top">pwilson@restorationacademy.org</a>
                    <br>
                    <br>
                    <h6><b><a href="https://visitor.r20.constantcontact.com/manage/optin?v=001o9BVU3HO12xWqm9DlYfHAQH-J-WlQhmy">Sign up here to receive our weekly newsletter!</a></b></h6>
                    </p>
                  </div>
              </div>
    </div>
   
      
</body>

<footer-navigation></footer-navigation>