<main-navigation></main-navigation>

<!--PHILOSOPHY Start Here -->
<section id="philosophy" class="org-info anim-section effect-bottom">
  <div class="container">
    <div class="row">
      <div class="org-title">
        <h1>Academic Philosophy</h1>
      </div>
      <div class="services">
        <div class="col-sm-3 effect-a">
          <div class="one service-block shine">
            <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/></i> Rational</h3>
            <p>
              Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam
            </p>
          </div>
        </div>
        <div class="col-sm-3 effect-b">
          <div class="two service-block shine">
            <h3><i class="write"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/></i> Physical</h3>
            <p>
              Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam
            </p>
          </div>
        </div>
        <div class="col-sm-3 effect-c">
          <div class="three service-block shine">
            <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i> Relational</h3>
            <p>
              Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
            </p>
          </div>
        </div>
        <div class="col-sm-3 effect-d">
          <div class="four service-block shine">
            <h3><i class="star"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i>Creative</h3>
            <p>
              Faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet.
            </p>
          </div>
        </div>
        <div class="col-sm-3 effect-a">
          <div class="one service-block shine">
            <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i> Emotional</h3>
            <p>
              Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
            </p>
          </div>
        </div>
        <div class="col-sm-3 effect-b">
          <div class="three service-block shine">
            <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i> Faithful</h3>
            <p>
              Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
            </p>
          </div>
        </div>
        <div class="col-sm-3 effect-c">
          <div class="one service-block shine">
            <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i>Disciplined</h3>
            <p>
              Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
            </p>
          </div>
        </div>
        <div class="col-sm-3 effect-d">
          <div class="one service-block shine">
            <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i> Diligent</h3>
            <p>
              Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--PHILOSOPHY End Here -->

<!-- CURRICULUM Starts here -->
<section id="curriculum" class="main-content-wrap feature-wrap">
  <div class="container">
    <h1>Curriculum</h1>
    <div class="our-features row">
      <div class="col-xs-12 row">
        <article class="clearfix anim-section col-sm-6 col-xs-12">
          <div class="img-description">
            <h3>Arts</h3>
            <figure class="figure tube"> <img src="/images/artsbw.jpg" alt="" class="svg" /> </figure> <a class="btn btn-default btn-effect" href="#"> read more <i> <img src="assets/img/arrow-btn.png" alt=""> </i> </a> </div>
        </article>

        <article class="clearfix anim-section col-sm-6 col-xs-12">
          <div class="img-description">
            <h3>English</h3>
            <figure class="figure tube"> <img src="/images/englishbw.jpg" alt="" class="svg" /> </figure>
            <a class="btn btn-default btn-effect" href="#"> read more <i> <img src="assets/img/arrow-btn.png" alt=""> </i> </a> </div>
        </article>

        <article class="clearfix anim-section col-sm-6 col-xs-12">
          <div class="img-description">
            <h3>History</h3>
            <figure class="figure tube"> <img src="/images/historybw.jpg" alt="" class="svg" /> </figure>
            <a class="btn btn-default btn-effect" href="#"> read more <i> <img src="assets/img/arrow-btn.png" alt=""> </i> </a> </div>
        </article>

        <article class="clearfix anim-section col-sm-6 col-xs-12">
          <div class="img-description">
            <h3>Language</h3>
            <figure class="figure tube"> <img src="/images/languagebw.jpg" alt="" class="svg" /> </figure>
            <a class="btn btn-default btn-effect" href="#"> read more <i> <img src="assets/img/arrow-btn.png" alt=""> </i> </a> </div>
        </article>
        <article class="clearfix anim-section col-sm-6 col-xs-12">
          <div class="img-description">
            <h3>Mathematics</h3>
            <figure class="figure tube"> <img src="/images/mathbw.jpg" alt="" class="svg" /> </figure>
            <a class="btn btn-default btn-effect" href="#"> read more <i> <img src="assets/img/arrow-btn.png" alt=""> </i> </a> </div>
        </article>

        <article class="clearfix anim-section col-sm-6 col-xs-12">
          <div class="img-description">
            <h3>Science</h3>
            <figure class="figure tube"> <img src="/images/sciencebw.jpg" alt="" class="svg" /> </figure>
            <a class="btn btn-default btn-effect" href="#"> read more <i> <img src="assets/img/arrow-btn.png" alt=""> </i> </a> </div>
        </article>

      </div>
    </div>
  </div>
</section>
<!-- CURRICULUM Ends here  -->

<!--ACADEMIC CALENDAR Starts here-->
<div id="academic-calendar" class="container other-features">
  <section class="technologies-wrap anim-section">
    <h1>Academic Calendar</h1>
    <div class="row clearfix">
      <div class="featured-technologies col-sm-4 col-xs-12">
        <section>
          <h3>Placeholder</h3>
          <p> Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra. </p>
        </section>
      </div>
      <div class="featured-technologies col-sm-4 col-xs-12">
        <section>
          <h3>Placeholder</h3>
          <p> Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra. </p>
        </section>
      </div>
      <div class="featured-technologies col-sm-4 col-xs-12">
        <section>
          <h3>Maybe put PDF of Summer Learning Here?</h3>
          <p> Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra. </p>
        </section>
      </div>
    </div>
  </section>
  <!-- Put video or photo here -->
  <figure class="video-wrap wide anim-section">
    <h2 class="">Learning at RA</h2>
    <a class="btn-play video-btn" href="#"> <i class="fa fa-play"></i> </a> </figure>
</div>
</div>
<!--ACADEMIC CALENDAR Ends here here-->


<!--PREPARING FOR THE FUTURE Start Here -->
<section id="the-future" class="news-info anim-section effect-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 text">
        <div class="row">
          <div class="col-xs-12">
            <h1>Preparing for the Future</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 zoom effect-a">
            <figure>
              <img src="/images/college.jpg" alt="" />
            </figure>
            <!-- <span class="date">date</span> -->
            <h3><a href="http://racollegeandcareer.com">COLLEGE</a></h3>
            <!-- need blog link in quotes -->
            <p>
              Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
            </p>
          </div>
          <div class="col-sm-6 zoom effect-b">
            <figure>
              <img src="/images/career.jpg" alt="" />
            </figure>
            <!-- <span class="date">date</span> -->
            <h3><a href="http://racollegeandcareer.com">CAREER</a></h3>
            <!-- need blog link in quotes -->
            <p>
              Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h2></h2> -->
          </div>
        </div>
        <div class="testimonial-slider effect-c">
          <ul class="slides">
            <li>
              <div class="row">
                <div class="col-xs-12">
                  <div class="quote">
                    <span>“</span>
                    <p>
                      student quote or quote about the future being bright”
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="profile">
                    <figure>
                      <img src="/images/future.jpg" alt="" />
                    </figure>
                    <div class="intro">
                      <h3>Person </h3>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-xs-12">
                  <div class="quote">
                    <span>“</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere metus.”
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="profile">
                    <figure>
                      <img src="../assets/img/news-client-img1.jpg" alt="" />
                    </figure>
                    <div class="intro">
                      <h3></h3>
                      <p>
                        Director of companyname
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--PREPARING FOR THE FUTURE End Here -->

<!--NEWSLETTER SUBSCRIPTION Start Here -->
<section class="subscription clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-7">
        <h2>Sign up for our e-newsletter</h2>
      </div>
      <div class="col-sm-6 col-md-5 subscription-field">
        <input type="text" placeholder="Enter your e-mail" class="subscription-input" />
        <button class="btn btn-default btn-effect" type="button">
                                submit<i><img alt="" src="../assets/img/arrow-btn.png"></i>
                            </button>
      </div>
    </div>
  </div>
</section>
<!--NEWSLETTER SUBSCRIPTION End Here -->

</div>
<!--content Section End Here -->
</body>
<footer-navigation></footer-navigation>
