<main-navigation></main-navigation>

<body data-spy="scroll" data-target="#navbar-example">
    <div class="row padding">
            <div class="col-4">
                    <div id="list-example" class="list-group boldFont">
                            <a class="list-group-item list-group-item-action" href="#list-item-1">Philosophy</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-2">Curriculum</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-3">Academic Calendar</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-4">Planning for Future</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-5">Apply</a>
                          </div>
            </div>
            
              <div class="col-8">
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example normalFont">
        <!-- PHILOSOPHY -->
        <h4 id="list-item-1" class="boldFont">Philosophy</h4>
        <section id="phil"> 
        <div class="container">
            <div class="row text-center clearfix">
                <div class="col">
                    <p class="phil-heading justified">Restoration Academy exists as a compilation of families, faculty, communities, and churches.
                        At the core of our school is the Restoration Academy student.  The goal of the school is to meet the academic, spiritual, and social needs of each student at our school in a Christ-centered environment.  We believe that the school has been called to a unique educational mission to meet the needs of a predominantly urban and at-risk* student body.  We are also called to minister and meet the unique aspects of the Restoration Academy learner.  Outlined below are the core beliefs of the school in regards to our view of our students.  In addition, some of the practices we utilize in meeting the various aspects of the Restoration Academy learner are outlined as well.
                            </p>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-phil">
                        <!-- <img src="images/car3.jpg" alt="" /> -->
                        <h2>The rational learner</h2>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#phil-detail">Read More</a>
                    </div>
                    <div class="modal fade" id="phil-detail" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <!-- <img src="images/car3.jpg" alt="" /> -->
                                    <p>As demonstrated in God's creation of the world in Genesis, God created by intentionally calling forth order from chaos, systematically bringing out a complete cosmos in a rational fashion (Gen. 1:1-2:3).  As image bearers of the Creator, human beings mirror God’s rational nature (Gen. 1:26).  In addition, the Lord calls His children to love Him with all of their minds.  Restoration Academy believes that part of loving God with all of our minds entails delivering purposeful teaching that provides order and structure.  Students are taught to develop and utilize critical thinking skills. This entails teaching taking place in organized classrooms.  Each student is given a thoughtful and carefully planned routine for the week, and each student is challenged daily by inspiring and dynamic curriculum.</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-phil">
                        <!-- <img src="images/car3.jpg" alt="" /> -->
                        <h2>The physical learner</h2>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#phil-two">Read More</a>
                    </div>
                    <div class="modal fade" id="phil-two" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <!-- <img src="images/car3.jpg" alt="" /> -->
                                    <p>Since each student is an image bearer of God, each student is uniquely and marvelously made.  Because of this reality, students are called to respect and honor one another and hold human life in high regard.  Students are inundated with the balms of peace and reconciliation to take to a society tainted by physical violence and abuse.  Likewise we understand that our bodies are temples of the Holy Spirit (I Cor. 6:19-20), and that they are not our own.  Students are taught to govern their bodies with purity, neatness, dignity, and respect.  Uniforms are worn by Restoration Academy students to model self-respect and physical neatness.  In the classroom students are given hands-on projects to stimulate their bodies and their minds.  In addition, students participate in daily exercise breaks and a physical education class.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-phil">
                        <!-- <img src="images/car3.jpg" alt="" /> -->
                        <h2>The relational learner</h2>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#phil-three">Read More</a>
                    </div>
                    <div class="modal fade" id="phil-three" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <!-- <img src="images/car3.jpg" alt="" /> -->
                                    <p>God has spoken to us through His written word (Rom. 10:13-15), and He desires to communicate with us and have a relationship with us.  This relationship was broken by sin, but we have reconciliation with God and we have become His adopted children and heirs (Gal. 4:4-7).  Therefore no believer is without a Father (Ps. 68.5).  Christ has reconciled us to Himself and He grants us the ability to be reconciled one to another.  Restoration Academy emphasizes the importance of forming and maintaining dynamic relationships.  In the classrooms students engage in cooperative learning activities to bolster learning.  Each quarter the school facilitates an Open House in which parents and teachers gather to discuss students’ progress and to forge deeper relationships.  We desire to foster an environment of shalom with true peace and harmony in all our relationships.</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-phil">
                        <!-- <img src="images/car3.jpg" alt="" /> -->
                        <h2>Aesthetic and creative learner</h2>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#phil-four">Read More</a></div>
                        <div class="modal fade" id="phil-four" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <!-- <img src="images/car3.jpg" alt="" /> -->
                                        <p>The image of God in man has an aesthetic quality to create and appreciate beauty.  God exemplified His appreciation for beauty when He marveled at His own creation and called it good (Gen. 1:10b).  Patterned after God, students at Restoration Academy are beautiful and have a need to participate in experiencing beauty.  Students devote a good portion of their learning to creating beautiful works of art and projects to bolster their education.  The school facilitates field trips to take students from outside their environment to enjoy the spectacles and beauty of nature as well.</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-phil">
                            <!-- <img src="images/car3.jpg" alt="" /> -->
                            <h2>The emotional learner</h2>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#phil-five">Read More</a>
                        </div>
                        <div class="modal fade" id="phil-five" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <!-- <img src="images/blog/2.jpg" alt="" /> -->
                                        <p>God has established His laws and His love to facilitate and aid our emotional status.  God Himself is emotional, and He reveals His emotion in scripture with examples of anger, sorrow, celebration, and joy.  We believe that we are called to love one another as Christ has loved us (Jn. 15:12), and this love exerts a powerful effect on the emotional state of each student and member of the school family.  The school endeavors to create an environment in which each student’s emotional needs are met, and each student also learns to seek the welfare of those around him.  Teachers and staff acknowledge the emotional needs of each student, but they also seek to model the importance of self-control.  In addition the school avails counseling services to students who have such a need.</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-4">
                        <div class="single-phil">
                            <!-- <img src="images/car3.jpg" alt="" /> -->
                            <h2>The learner as worshipper</h2>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#phil-six">Read More</a>
                        </div>
                        <div class="modal fade" id="phil-six" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <!-- <img src="images/car3.jpg" alt="" /> -->
                                        <p>God’s word is clear that man is to worship Him and Him alone (Ex. 20:3).  Yet history reveals that much of humanity has turned aside to worship the idols of the age (Rom. 1:22-23, 25).  We understand that not every student at our school believes that Christ is Lord, but a chief aim of Restoration Academy is to introduce each student to Christ and for each student to name Him as Savior and Lord.  Students participate in daily devotions, prayers, and worshipful songs.  Each faculty member at Restoration Academy professes Christ as Savior and Lord and directs students to Him with their actions, instruction, and counsel.  In addition to making Christ Lord of their lives, students are taught to “obey all of His commandments,” with the understanding that a true disciple of Christ is an obedient disciple.</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div> 
        </section> <!--/#philosophy-->

                    <!-- CURRICULUM -->
                    <h4 id="list-item-2" class="boldFont">Curriculum</h4>
                    <p style="text-indent: 0px" class="normalFont">Place holder for introductory paragraph.</p>
                    
                    <!-- ACADEMIC CALENDAR -->
                    <h4 id="list-item-3" class="boldFont">Academic Calendar</h4>
                    <p class="normalFont">...and include summer learning pdf</p>

                    <!-- FUTURE -->
                    <h4 id="list-item-4" class="boldFont">Planning for Future</h4>
                    <p class="normalFont">...</p>
                     
                    <!-- APPLY -->
                     <h4 id="list-item-5" class="boldFont">Apply</h4>
                     <p class="normalFont">...</p>
                  </div>
              </div>
    </div>
   
      
</body>

<footer-navigation class="normalFont"></footer-navigation>
