<main-navigation></main-navigation>
<body class="homepage-1">
        <div class="loader-block">
                <div class="loader">
                    Loading...
                </div>
            </div>
            <!--Wrapper Section Start Here -->
            <div id="wrapper">



                <!--slider Section Start Here -->
                <section id="slider">
                    <div class="container-fluid">
                        <div class="row">

                            <!--slider Start Here -->
                            <div class="banner-slider">
                                <div class="tp-banner">
                                    <ul>
                                        <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-thumb="../assets/img/slider-img1.jpg"  data-saveperformance="off"  data-title="Slide">
                                            <img src="../assets/img/slider-img1.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="auto 100%" data-bgrepeat="no-repeat">
                                            <div class="banner-content">
                                                <div class="tp-caption lfb ltl"
                                                data-x="0"
                                                data-y="center"
                                                data-speed="2000"
                                                data-start="1100"
                                                data-easing="Power4.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.1"
                                                data-endelementdelay="0.1"
                                                data-endspeed="1000"
                                                data-endeasing="Power4.easeIn"
                                                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                                                    <h2 class="h1">Meet the best
                                                    <br />
                                                    ideas</h2>
                                                </div>
                                                <div class="tp-caption black_thin_blackbg_30 layer-b customin ltl "
                                                data-x="100"
                                                data-y="350"
                                                data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                                data-speed="1500"
                                                data-start="2400"
                                                data-easing="Power4.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.01"
                                                data-endelementdelay="0.1"
                                                data-endspeed="1000"
                                                data-endeasing="Power4.easeIn"
                                                style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                                    <span>Etiam in augue nulla facilisi morbi felis tincidunt eget</span>
                                                </div>
                                                <div class="tp-caption light_heavy_60 layer-c customin ltl"
                                                data-x="left" data-hoffset="100"
                                                data-y="center" data-voffset="100"
                                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                data-speed="1000"
                                                data-start="2600"
                                                data-easing="Power4.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.01"
                                                data-endelementdelay="0.1"
                                                data-endspeed="1000"
                                                data-endeasing="Power4.easeIn"
                                                style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                                                    <button type="button" class="btn btn-default btn-effect">
                                                        more info<i><img src="../assets/img/arrow-btn.png" alt="" /></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-thumb="../assets/img/slider-img1.jpg"  data-saveperformance="off"  data-title="Slide">
                                            <img src="../assets/img/slider-img1.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="auto 100%" data-bgrepeat="no-repeat">
                                            <div class="banner-content">
                                                <div class="tp-caption layer1"
                                                data-x="left" data-hoffset="65"
                                                data-y="center" data-voffset="5"
                                                data-speed="900"
                                                data-start="700"
                                                data-easing="Power3.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.1"
                                                data-endelementdelay="0.1"
                                                data-endspeed="600"
                                                >
                                                    <h2 class="h1">Meet the best
                                                    <br />
                                                    ideas</h2>
                                                </div>
                                                <div class="tp-caption layer2"
                                                data-x="left" data-hoffset="65"
                                                data-y="center" data-voffset="95"
                                                data-speed="900"
                                                data-start="1000"
                                                data-easing="Power3.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.1"
                                                data-endelementdelay="0.1"
                                                data-endspeed="600"
                                                >
                                                    <span>Etiam in augue nulla facilisi morbi felis tincidunt eget</span>
                                                </div>
                                                <div class="tp-caption layer3"
                                                data-x="left" data-hoffset="65"
                                                data-y="center" data-voffset="140"
                                                data-speed="900"
                                                data-start="1300"
                                                data-easing="Power3.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.1"
                                                data-endelementdelay="0.1"
                                                data-endspeed="600"
                                                >
                                                    <button type="button" class="btn btn-default btn-effect">
                                                        more info<i><img src="../assets/img/arrow-btn.png" alt="" /></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-thumb="../assets/img/slider-img1.jpg"  data-saveperformance="off"  data-title="Slide">
                                            <img src="../assets/img/slider-img1.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="auto 100%" data-bgrepeat="no-repeat">
                                            <div class="banner-content">
                                                <div class="tp-caption lfb ltl"
                                                data-x="0"
                                                data-y="center"
                                                data-speed="2000"
                                                data-start="1100"
                                                data-easing="Power4.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.1"
                                                data-endelementdelay="0.1"
                                                data-endspeed="1000"
                                                data-endeasing="Power4.easeIn"
                                                style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                                                    <h2 class="h1">Meet the best
                                                    <br />
                                                    ideas</h2>
                                                </div>
                                                <div class="tp-caption black_thin_blackbg_30 layer-b customin ltl "
                                                data-x="100"
                                                data-y="350"
                                                data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                                data-speed="1500"
                                                data-start="2400"
                                                data-easing="Power4.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.01"
                                                data-endelementdelay="0.1"
                                                data-endspeed="1000"
                                                data-endeasing="Power4.easeIn"
                                                style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                                    <span>Etiam in augue nulla facilisi morbi felis tincidunt eget</span>
                                                </div>
                                                <div class="tp-caption light_heavy_60 layer-c customin ltl "
                                                data-x="left" data-hoffset="100"
                                                data-y="center" data-voffset="100"
                                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                data-speed="1000"
                                                data-start="2600"
                                                data-easing="Power4.easeInOut"
                                                data-splitin="none"
                                                data-splitout="none"
                                                data-elementdelay="0.01"
                                                data-endelementdelay="0.1"
                                                data-endspeed="1000"
                                                data-endeasing="Power4.easeIn"
                                                style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                                                    <button type="button" class="btn btn-default btn-effect">
                                                        more info<i><img src="../assets/img/arrow-btn.png" alt="" /></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="tp-bannertimer">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            <!--slider End Here -->

                        </div>
                    </div>
                </section>
                <!--slider Section End Here -->










        <!--PAGE CONTENT Start Here -->
        <div id="content">

            <!--PHILOSOPHY Start Here -->
            <section class="org-info anim-section effect-bottom">
                <div class="container">
                    <div class="row">
                        <div class="org-title">
                            <h1>Academic Philosophy</h1>
                        </div>
                        <div class="services">
                            <div class="col-sm-3 effect-a">
                                <div class="one service-block shine">
                                    <h3><i class="fa fa-check-circle-o"> </i> Rational</h3>
                                    <p>
                                        Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3 effect-b">
                                <div class="two service-block shine">
                                    <h3><i class="write"><img class="svg" src="../assets/svg/thumb-two.svg" alt=""/></i> Physical</h3>
                                    <p>
                                        Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3 effect-c">
                                <div class="three service-block shine">
                                    <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i> Relational</h3>
                                    <p>
                                        Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3 effect-d">
                                <div class="four service-block shine">
                                    <h3><i class="star"><img class="svg" src="../assets/svg/star.svg" alt=""/> </i>Creative</h3>
                                    <p>
                                        Faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3 effect-a">
                                <div class="one service-block shine">
                                    <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i> Emotional</h3>
                                    <p>
                                        Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3 effect-c">
                                <div class="three service-block shine">
                                    <h3><i class="employee"><img class="svg" src="../assets/svg/thumb-three.svg" alt=""/> </i> Faithful</h3>
                                    <p>
                                        Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--PHILOSOPHY End Here -->

            <!--CURRICULUM Start Here -->
            <section class="help-info parallax">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <div class="inner bullet-list animatedata">
                                <h2 class="h1">Curriculum</h2>
                                <ul class="animation-effect">
                                    <li>
                                        <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">Arts</a>
                                    </li>
                                    <li>
                                        <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">English</a>
                                    </li>
                                    <li>
                                        <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">History</a>
                                    </li>
                                    <li>
                                        <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">Language</a>
                                    </li>
                                    <li>
                                        <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">Mathematics</a>
                                    </li>
                                    <li>
                                        <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">Science</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-7 pic-block">
                            <figure>
                                <img src="../assets/img/help-info-img.png" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <!--CURRICULUM End Here -->

            <!--CALENDAR Start Here -->
            <section class="tech-info parallax">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <figure>
                                <img src="/assets/img/tech-info-img.png" alt="" />
                            </figure>
                        </div>
                        <div class="col-sm-7">
                            <div class="inner">
                                <h2 class="h1">Academic Calendar</h2>
                                <div class="text">
                                    <p>
                                        Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--CALENDAR End Here -->



            <!--PREPARING FOR THE FUTURE Start Here -->
            <section class="news-info anim-section effect-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 text">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>Preparing for the Future</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 zoom effect-a">
                                    <figure>
                                        <img src="../assets/img/news-info-img1.jpg" alt="" />
                                    </figure>
                                    <!-- <span class="date">date</span> -->
                                    <h3><a href="blog-post-1.html">COLLEGE</a></h3>
                                    <p>
                                        Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
                                    </p>
                                </div>
                                <div class="col-sm-6 zoom effect-b">
                                    <figure>
                                        <img src="../assets/img/news-info-img2.jpg" alt="" />
                                    </figure>
                                    <!-- <span class="date">date</span> -->
                                    <h3><a href="blog-post-1.html">CAREER</a></h3>
                                    <p>
                                        Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- <h2></h2> -->
                                </div>
                            </div>
                            <div class="testimonial-slider effect-c">
                                <ul class="slides">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="quote">
                                                    <span>“</span>
                                                    <p>
                                                        student quote or quote about the future being bright”
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="profile">
                                                    <figure>
                                                        <img src="../assets/img/news-client-img1.jpg" alt="" />
                                                    </figure>
                                                    <div class="intro">
                                                        <h3>Person </h3>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="quote">
                                                    <span>“</span>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere metus.”
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="profile">
                                                    <figure>
                                                        <img src="../assets/img/news-client-img1.jpg" alt="" />
                                                    </figure>
                                                    <div class="intro">
                                                        <h3></h3>
                                                        <p>
                                                            Director of companyname
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--PREPARING FOR THE FUTURE End Here -->

            <!--NEWSLETTER SUBSCRIPTION Start Here -->
            <section class="subscription clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-7">
                            <h2>Sign up for our e-newsletter</h2>
                        </div>
                        <div class="col-sm-6 col-md-5 subscription-field">
                            <input type="text" placeholder="Enter your e-mail" class="subscription-input" />
                            <button class="btn btn-default btn-effect" type="button">
                                submit<i><img alt="" src="../assets/img/arrow-btn.png"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <!--NEWSLETTER SUBSCRIPTION End Here -->

        </div>
        <!--content Section End Here -->
</body>
<footer-navigation></footer-navigation>
