<main-navigation></main-navigation>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="../images/payne.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="../images/plump.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="../images/kids.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->

<br>

<section class="tech-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 right">
        <figure>
          <img src="..\images\strhome.JPG" alt="How we Learn">
        </figure>
      </div>
      <div class="col-sm-7">
        <div class="inner">
          <h2 class="h1 boldFont">We Learn Together</h2>
          <div class="text normalFont">
            <p>
              Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <iframe  class="center" src="https://player.vimeo.com/video/206272920" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<br>

<section class="mission-info anim-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title boldItalicFont">
          <h1>Loving God with...</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="inner">
          <figure><img src="..\images\car1-resized.jpg" alt="" /></figure>
          <br>
          <h3 class="boldFont smallCaps">…all our minds</h3>
          <p class="normalFont">We want your student to learn to "love God with all of their minds." We have rigorous curriculum, dedicated and called instructors, and the facilities to help your students grow in their education. For the last 10 years in a row, all of our
            seniors have been admitted to college.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="inner">
          <figure><img src="..\images\car3-resized.jpg" alt="" /></figure>
          <br>
          <h3 class="boldFont smallCaps">…all our strength</h3>
          <p class="normalFont">We want for your student to learn to "love God with their strength as well." We have excellent physical education classes. And we offer a variety of sports including basketball, baseball, girls tennis and volleyball, peewee soccer, and even
            Brazilian jiu-jitsu.</p>
        </div>
      </div>
      <div class="col-sm-4 boldFont">
        <div class="inner">
          <figure><img src="..\images\car2-resized.jpg" alt="" /></figure>
          <br>
          <h3 class="boldFont smallCaps">…all our hearts</h3>
          <p class="normalFont">We desire for your student to learn to "love God with all of their heart." We offer a strong fine arts program that includes elementary drama, visual arts classes, and an award-winning high school concert chorale that travels around the state.</p>
        </div>
      </div>
    </div>
  </div>

</section>
<email-newsletter></email-newsletter>
<!--mission-info End Here -->

<footer-navigation></footer-navigation>
