<main-navigation></main-navigation>

<section class="help-info parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 right">
        <div class="inner bullet-list animatedata">
          <h2 class="h1 boldFont">We Love</h2>
          <ul class="animation-effect normalFont">
            <li>
              <i><img src="../assets/img/bullot1.png" alt="*" /></i><a>…God with all our minds</a>
            </li>
            <li>
              <i><img src="../assets/img/bullot1.png" alt="*" /></i><a>…God with all our strength</a>
            </li>
            <li>
              <i><img src="../assets/img/bullot1.png" alt="*" /></i><a>…God with all our hearts</a>
            </li>
            <li>
              <i><img src="../assets/img/bullot1.png" alt="*" /></i><a>…God with all our souls</a>
            </li>
            <li>
              <i><img src="../assets/img/bullot1.png" alt="*" /></i><a>…our neighbors</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7 pic-block">
        <figure>
          <img src="..\images\sqhome.jpg" alt="Our Classes" />
        </figure>
      </div>
    </div>
  </div>
</section>

<br>

<section class="tech-info parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 right">
        <figure>
          <img src="..\images\strhome.JPG" alt="How we Learn">
        </figure>
      </div>
      <div class="col-sm-7">
        <div class="inner">
          <h2 class="h1 boldFont">We Learn Together</h2>
          <div class="text normalFont">
            <p>
              Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="center">
  <iframe src="https://player.vimeo.com/video/206272920" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<br>

<section class="mission-info anim-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title boldItalicFont">
          <h1>Loving God with...</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 boldFont">
        <div class="inner">
          <figure><img src="..\images\car1-resized.jpg" alt="" /></figure>
          <h3 class="smallCaps">…all our minds</h3>
          <p class="normalFont">We want your student to learn to "love God with all of their minds." We have rigorous curriculum, dedicated and called instructors, and the facilities to help your students grow in their education. For the last 10 years in a row, all of our
            seniors have been admitted to college.</p>
        </div>
      </div>
      <div class="col-sm-4 boldFont">
        <div class="inner">
          <figure><img src="..\images\car3-resized.jpg" alt="" /></figure>
          <h3 class="smallCaps">…all our strength</h3>
          <p class="normalFont">We want for your student to learn to "love God with their strength as well." We have excellent physical education classes. And we offer a variety of sports including basketball, baseball, girls tennis and volleyball, peewee soccer, and even
            Brazilian jiu-jitsu.</p>
        </div>
      </div>
      <div class="col-sm-4 boldFont">
        <div class="inner">
          <figure><img src="..\images\car2-resized.jpg" alt="" /></figure>
          <h3 class="smallCaps">…all our hearts</h3>
          <p class="normalFont">We desire for your student to learn to "love God with all of their heart." We offer a strong fine arts program that includes elementary drama, visual arts classes, and an award-winning high school concert chorale that travels around the state.</p>
        </div>
      </div>
    </div>
  </div>

</section>
<email-newsletter></email-newsletter>
<!--mission-info End Here -->

<footer-navigation></footer-navigation>
