<main-navigation></main-navigation>

<section class="help-info parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 right">
        <div class="inner bullet-list animatedata">
          <h2 class="h1">We Love</h2>
          <ul class="animation-effect">
            <li>
              <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">…God with all our minds</a>
            </li>
            <li>
              <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">…God with all our strength</a>
            </li>
            <li>
              <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">…God with all our hearts</a>
            </li>
            <li>
              <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">…God with all our souls</a>
            </li>
            <li>
              <i><img src="../assets/img/bullot1.png" alt="" /></i><a href="#">…our neighbors</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7 pic-block">
        <figure>
          <img src="..\images\sqhome.jpg" alt="Our Classes" />
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="tech-info parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 right">
        <figure>
          <iframe src="https://player.vimeo.com/video/206272920" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
      </div>
      <div class="col-sm-7">
        <div class="inner">
          <h2 class="h1">Only the best</h2>
          <div class="text">
            <p>
              Etiam in augue. Nulla facilisi. Morbi felis tincidunt eget, faucibus orci nec erat a quam placerat vehicula neque. Etiam vehicula sit amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer-navigation></footer-navigation>
