<main-navigation></main-navigation>

</head>
<body data-spy="scroll" data-target="#toc">
  <div class="container">
    <div class="row">
<!-- sidebar, which will move to the top on a small screen -->
      <div class="col-sm-3">
        <nav id="toc"> 
          <ul class="nav">
            <li class>
              <a href="#academics">Academics</a>
             
              <ul class="nav">
                <li class>
                  <a href="#curriculum">Curriculum</a>
                </li>
                <li class>
                  <a href="#clubs">Clubs</a>
                </li>
              </ul>
            </li>
            <li class>
              <a href="#athletics">Athletics</a>
              <br>
              <ul class="nav">
                <li class>
                  <a href=#basketball>Basketball</a>
                  <br>
                </li>
                <li class>
                  <a href=#baseball>Baseball</a>
                  <br>
                </li>
                <li class>
                  <a href=#volleyball>Volleyball</a>
                  <br>
                </li>
                <li class>
                  <a href=#tennis>Tennis</a>
                  <br>
                </li>
              </ul>
            </li>
            <li class>
              <a href="#arts">Arts</a>
              <ul class="nav">
                <li class>
                  <a href="#choir">Choir</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <!-- main content area -->
      <div class="col-sm-9">
        <h3 data-toc-text="short text">
                <h2 data-toc-skip id="athletics">Athletic Philosophy</h2>
                Our mission is to train up the whole child by utilizing the classroom and the athletic field to disciple children, develop their character, and to provide them with the tools they'll need to live a successful Christian life. Training up the whole child involves a holistic approach to physical training as well as academic success.
                
                Academics and the Student Athlete
                Restoration Academy utilizes sports to meet the physical and academic needs of the student. Student athletes learn to train their bodies and their minds. They participate in aggressive reading and math programs during the school day along with additional free tutorials. Our graduates have been accepted into the Naval Academy, The University of Alabama, Auburn University, University of Montevallo, Birmingham-Southern College, Samford University, Stillman College, and more.
                 
                Athletics and the Student Athlete
                For years, Restoration Academy athletes have experienced success on the football field and the basketball courts. Our boys Bulldog Football team won three consecutive state championships and one national championship (in the NCSC) as an 8 man team. We have consistently had success on the field since playing 11 man football. Our boys varsity basketball team has won two state championships. Our girls varsity basketball team reached the playoffs in 2011.
                </h3>
      </div>
    </div>
  </div>
</body

<footer-navigation></footer-navigation>